
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
  }
  *{
    text-decoration: none;
  }
  .navbar{
    background: rgb(2, 175, 255);
    font-family: 'Calibri';
    padding-right: 15px;
    padding-left: 15px;
  }
  .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }
  .main {
    padding: 20px;
    text-align: center; 

  }
